substitutions:
  device_name: presostat
  friendly_name: "Presostat"
  board: esp32-s3-devkitc-1
  pressure_adc_pin: GPIO1
  relay_pin: GPIO6
  relay_inverted: "true"
  button_pin: GPIO7
  i2c_sda_pin: GPIO8
  i2c_scl_pin: GPIO9
  pressure_voltage_min: "0.5"
  pressure_voltage_max: "4.5"
  pressure_bar_min: "0.0"
  pressure_bar_max: "10.0"
  pressure_hold_min: "3.5"
  pressure_hold_max: "6.0"
  pressure_fault_min: "1.5"

# Inclusion d'une configuration externe pour modularité et réutilisation.
packages:
  twinsen68.presostat:
    url: https://github.com/Twinsen68/presostat.git
    file: esphome/presostat_config.yaml
    ref: main
